:root {
	--white-main: #ffffff;
	--black-main: #000000;
	--blue-main: #006dd3;
	--purple-main: #8f05aa;
	--green-main: #006e2e;
	--red-main: #d30000;
	--pink-main: #d40059;
	--gray-main: #a0a1a1;
	--yellow-main: #f3cf06;
	--chocolet-main: #89242c;

	--white-light: #e4fcff;
	--black-light: #a3a3a3;
	--blue-light: #62a5e4;
	--purple-light: #ba00df;
	--green-light: #d2ffe5;
	--red-light: #e74444;
	--pink-light: #ff6daa;
	--gray-light: #bdbdbd;
	--yellow-light: #ffe033;

	--white-dark: #c5d5e0;
	--black-dark: #000000;
	--blue-dark: #032149;
	--purple-dark: #5f116e;
	--green-dark: #0a5e2c;
	--red-dark: #7a0000;
	--pink-dark: #85083c;
	--gray-dark: #8a8080;
	--yellow-dark: #857100;

	--circle-color: #007f68;
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*------------------------ Header -----------------------------*/
.header-main {
	height: 5rem;
	width: 100%;
	padding: 3.25rem 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	height: 3.5rem;
	width: 2.25rem;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.header-logo img {
	height: 100%;
	width: 100%;
}

.header-logo p {
	font-size: 1.3rem;
	font-weight: 500;
	color: var(--green-main);
}

.header-right ul li {
	list-style-type: none;
}

.header-link {
	text-decoration: none;
	list-style-type: none;
	padding: 0 1rem;
	color: var(--black-main);
	font-size: 1.125rem;
	font-weight: 500;
}

.login {
	margin-left: 0.5rem;
	border: 2px solid var(--black-main);
	background: var(--blue-main);
	color: var(--white-main);
	border-radius: 50%;
	padding: 0.5rem 0.85rem;
	transition: all 0.3s linear;
}

/*------------------------ Footer -----------------------------*/
.footer-main {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 3rem;
}

.footer-col-one-header {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.footer-col-one-icons p {
	margin: 1rem 0;
}

.footer-col-two,
.footer-col-three,
.footer-col-four,
.footer-col-five {
	margin-top: 1.5rem;
}

.footer-col-two-header,
.footer-col-three-header,
.footer-col-four-header,
.footer-col-five-header {
	font-weight: 700;
}

.footer-col-two-links p,
.footer-col-three-links p,
.footer-col-four-links p,
.footer-col-five-links p {
	margin: 1rem 0;
	font-size: 0.925rem;
}

/*------------------------ Home Screen -----------------------------*/
.home-screen-main {
	width: 100vw;
	padding: 2rem;
}

.home-screen-main h2 {
	font-size: 3rem;
	text-align: center;
}

.home-screen-main h4 {
	font-size: 2rem;
	text-align: center;
}

.home-screen-main p {
	margin-top: 1rem;
	font-size: 0.95rem;
	text-align: center;
}

.home-screen-contact-container {
	width: 90%;
	margin: 3rem auto 5rem;
	display: flex;
	justify-content: center;
}

.home-screen-contact-sales {
	width: 40%;
	margin-right: 3rem;
	height: 38rem;
	border: 1px solid var(--gray-light);
	border-radius: 0.5rem;
}

.home-screen-contact-sales-upper {
	width: 100%;
	height: 55%;
	border-radius: 0.5rem;
	background: var(--green-light);
}

.home-screen-contact-sales-lower {
	padding: 1rem 2rem;
}

.home-screen-contact-sales-lower h3,
.home-screen-contact-sales-lower p {
	text-align: left;
}

.home-screen-contact-sales-lower h3 {
	font-size: 2rem;
}

.home-screen-contact-sales-lower p {
	font-size: 1rem;
}

.home-screen-contact-sales-lower button {
	width: 100%;
	border: none;
	color: var(--white-main);
	background: var(--circle-color);
	display: inline-block;
	padding: 0.3rem 0 0.5rem;
	text-decoration: none;
	font-size: 1.25rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all 0.3s linear;
	box-shadow: var(--box-shadow);
	margin-top: 1.25rem;
}

.home-screen-get-support {
	width: 30%;
	margin-right: 3rem;
	height: 38rem;
	border: 1px solid var(--gray-light);
	border-radius: 0.5rem;
}

.home-screen-get-support-upper {
	width: 100%;
	height: 55%;
	border-radius: 0.5rem;
	background: var(--green-light);
}

.home-screen-get-support-lower {
	padding: 1rem 2rem;
}

.home-screen-get-support-lower h3,
.home-screen-get-support-lower p {
	text-align: left;
}

.home-screen-get-support-lower h3 {
	font-size: 1.5rem;
}

.home-screen-get-support-lower p {
	font-size: 1rem;
	margin-top: 2.25rem;
}

.home-screen-get-support-lower .home-screen-get-support-lower-link {
	width: 100%;
	border: none;
	color: var(--white-main);
	background: var(--circle-color);
	display: inline-block;
	padding: 0.3rem 0 0.5rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all 0.3s linear;
	box-shadow: var(--box-shadow);
	margin-top: 2.5rem;
}

/*------------------------ Support Screen -----------------------------*/
.support-screen-form-container {
	width: 45%;
	margin: 1.5rem 10rem 5rem;
}

.support-screen-form-container h3 {
	margin-bottom: 1.5rem;
	font-weight: 500;
	font-size: 1.725rem;
}

.support-screen-form label {
	font-size: 0.925rem;
}

.support-screen-form input,
.support-screen-form select {
	width: 100%;
	padding: 0.8rem;
	margin: 0.75rem 0;
	border: none;
	outline: none;
	border-radius: 0.3rem;
	border: 1px solid var(--black-main);
}

.support-screen-submit-button {
	border: none;
	color: var(--white-main);
	background: var(--circle-color);
	display: inline-block;
	padding: 0.3rem 3rem 0.5rem;
	text-decoration: none;
	font-size: 1.25rem;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: all 0.3s linear;
	margin-top: 1rem;
}

/*------------------------ ShowContact Screen -----------------------------*/
.search-box {
	display: flex;
	justify-content: center;
}

.search-box h2 {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 500;
	margin-right: 2.5rem;
}

.search-box input {
	width: 15rem;
	height: 2.25rem;
	padding: 10px;
	border: none;
	outline: none;
	border: 1px solid var(--black-main);
	border-radius: 0.5rem;
}

/*------------------------ Card -----------------------------*/
.card-container {
	width: 40%;
	margin: 2.5rem auto;
	box-shadow: var(--box-shadow);
	padding: 1rem;
}

.card-upper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--gray-light);
}

.card-upper h3 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.card-upper p {
	font-size: 0.825rem;
}

.card-lower {
	margin-top: 0.5rem;
	font-size: 0.85rem;
	text-align: justify;
}

/*------------------------ Modal -----------------------------*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 2.75rem;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.3);
}

.modal-content {
	background: var(--white-main);
	margin: auto;
	padding: 2rem 2rem 1rem;
	width: 32.5%;
}

.modal-content h2 {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1.5rem;
}

.modal-content p {
	font-size: 0.85rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.modal-content span {
	font-size: 0.8rem;
}

.modal-content-form label {
	font-size: 0.9rem;
}

.modal-content-form input,
.modal-content-form select {
	width: 100%;
	padding: 0.8rem;
	margin: 0.5rem 0;
	border: none;
	outline: none;
	border-radius: 0.3rem;
	border: 2px solid var(--black-main);
}

.modal-submit-button {
	border: none;
	color: var(--white-main);
	background: var(--circle-color);
	display: inline-block;
	padding: 0.25rem 3rem 0.45rem;
	text-decoration: none;
	font-size: 1.25rem;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: all 0.3s linear;
	margin: 1rem 0 0.75rem;
}
